.menuMain {
	@at-root .home & {
    	position: absolute;
    	bottom: 0;
    	@include under(sm) {
    		position: relative;
    	}
	}

	@at-root .not-home & {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		padding-bottom: 20px;
		height: 63px;
		z-index: 900;
		@include under(1006px) {
			height: 108px;
		}
		@include under(sm) {
			height: 400px;
		}
		@at-root {
			.header-container {
				width: 100%;
				max-width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
		// display: none;
		background-color: c(blanco);
		width: 100%;
		.link {
			color: c();
		    text-shadow: none;
		}
	}

    bottom: 0;
	text-align: center;
    width: 100%;

    &.js-isClosed {
    	display:none;
    }

    @include under(sm) {
		position:relative;
    }

	&-icon-sm {
		color: c(menu-dark);
		cursor: pointer;
		font-family: f(sans);
		font-size: 11px;//29px de ancho
		font-weight: 600;
		text-transform: uppercase;
		top: -11px;
	    position: relative;
	    display: inline-block;
   		@include over(sm) {
	   		// right: 60px;
   		}
   		@include under(xs-minus) {
   			right: 5px;
   		}
   		@at-root {
	   		.home & {
				@include over(sm) { display: none;}
	   		}
   		}
	}
	&__fixed-positioner {
		position: fixed;
	   width: $container-max-w;
		margin-left: calc( 50% - #{$container-max-w/2} );
		margin-right: calc( 50% - #{$container-max-w/2} );
		left: 0;
	   z-index: 9999;
		text-align: right;
		@include respond-to($container-max-w + s(2.5)){
			width: calc(100% - #{s(2)});
			margin-left: s();
			margin-right: s();
		}
	}

	.link {
		@extend %title;
		color: c(blanco);
		cursor: pointer;
		display: inline-block;
		font-size: 23px;
		@include under(sm) {
			font-size: 20px;
		}
		margin-left: s(3/2);
		margin-right: s(3/2);
		margin-bottom: s();
		bottom: -1*s();//remueve el mb del segundo nivel de links (cuando lo hay)
		text-decoration: none;
	    text-transform: uppercase;
	    text-shadow: 0px 1px 1px #8e8e8e;
		&:hover {
			color: c(menu-dark);
		}
		@include under(sm) {
			display: block;
			margin-bottom: s(2);
			bottom: -1*s(2);
		}
		&-blanco{
			color: c(blanco);
			&:hover {
				color: c(menu-dark);
			}
		}
		&-negro{
			color: c(menu-dark);
			&:hover {
				color: c(blanco);
			}
		}
	}
}
