
%page-main-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 780px + s(2, pl) + s(2, pr);
}

%sm-container {
	@include under(md) {
		padding-left: s(10/4);
		padding-right: s(10/4);
	}
}


.friends-family {
	@include pageComponent(purpura);
	.mas-entradas {
		text-align: center;
		a {
			@extend %title-anteriores;
			text-decoration: none;
			color: c(negro);
		}
	}
	.p{
		text-align: center;
		word-wrap: break-word;
	}
}
