%title {
	color: c();
	font-size: 33px;
	font-family: f(serif);
	font-weight: normal;
	position: relative;
}

%title-page {
	color: c(titulo-single);
	font-size: 48px;
		@include under(xs) {
			font-size: 40px;
		}
	font-family: f(serif);
	font-weight: normal;
	margin-bottom: s(3/2);
	margin-bottom: s(3/4);
	text-align: center;
}

%cat-single-ttl{
	color: c(titulo-single);
}

%cat-single-ttl-sans{
	@extend %cat-single-ttl;
	font-family: f(sans);
	font-size: 46px;
	font-weight: bold;
	line-height: 55px;
	letter-spacing: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: s(1/4);
	text-align: center;
	text-transform: uppercase;
	max-width: 80%;
}

%cat-single-ttl-serif{
	@extend %cat-single-ttl;
}

%title-anteriores {
	font-family: f(sans);
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: s(2);
}
